*{margin:0; padding:0;}

html, body{
	height: 100%;
	background: url(tweed2.png);
	color: white;
	font-family: Arial, sans-serif;
}
#wrap{
	position: relative;
	background: url(bokeh.jpg) no-repeat center center fixed; 
	background-size: cover;
	height: 50%;
	box-shadow: 0 3px 5px rgba(0,0,0,0.8);
	vertical-align: bottom;
}


h1{
	position: absolute;
	bottom: 0;
	margin: 0; /*overwrite in a min...*/
	font-size: 300%;
}
p {
	font-size: x-large;
	margin-top: 1em;
}

h1, p{
	width: 50%;
	margin-left: 400px;
	margin-right: 30%;
}

img#bot{
	position: fixed;
	top: 30%;
	left: 50px;
	width: 300px;
}

/* On smallish widths */
@media (max-width: 991px){
	h1, p{
		margin-left: 260px;
		margin-right: 30px;
	}
	img#bot{
		width: 200px;
		left: 30px;
	}
}